<div class="row" style="margin-bottom: 25px;">
    <div class="col-sm-offset-2">
        <h1>Leader Board</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <table class="table table-hover">
            <tr>
                <th>Position</th>
                <th>User(s)</th>
                <th>Score</th>
            </tr>
            <tr *ngFor="let score of scores | groupBy: 'Score' : true; let i = index">
                <td>{{i + 1}}</td>
                <td>
                    <span *ngFor="let user of score.value">
                        {{user.Username}}<br/>
                    </span>
                </td>
                <td>{{score.key}}</td>
            </tr>
        </table>
    </div>
</div>