<h1>Matchups</h1>
<div class="row">
    <div class="col-sm-12 round">
        <a class="btn btn-default btn-group-vertical" [ngClass]="{'btn-primary' : selectedRound == 1}" (click)="changeRound(1)">Round 1</a>
        <a class="btn btn-default btn-group-vertical" [ngClass]="{'btn-primary' : selectedRound == 2}" (click)="changeRound(2)">Round 2</a>
        <a class="btn btn-default btn-group-vertical" [ngClass]="{'btn-primary' : selectedRound == 3}" (click)="changeRound(3)">Round 3</a>
        <a class="btn btn-default btn-group-vertical" [ngClass]="{'btn-primary' : selectedRound == 4}" (click)="changeRound(4)">Round 4</a>
        <a class="btn btn-default btn-group-vertical" [ngClass]="{'btn-primary' : selectedRound == 5}" (click)="changeRound(5)">Round 5</a>
        <a class="btn btn-default btn-group-vertical" [ngClass]="{'btn-primary' : selectedRound == 6}" (click)="changeRound(6)">Round 6</a>
    </div>
</div>
<div class="row matchups" *ngIf="roundMatchUps && roundMatchUps.length > 0">
    <div class="col-sm-6" *ngFor="let matchUp of roundMatchUps">
        <a *ngIf="matchUp.Entry1" class="btn btn-default" [ngClass]="{'btn-success': matchUp.Entry1 == matchUp.Winner}" (click)="pickWinner(matchUp, matchUp.Entry1)">{{getEntryData(matchUp.Entry1)}}</a>
        <a *ngIf="matchUp.Entry2" class="btn btn-default" [ngClass]="{'btn-success': matchUp.Entry2 == matchUp.Winner}" (click)="pickWinner(matchUp, matchUp.Entry2)">{{getEntryData(matchUp.Entry2)}}</a>
    </div>
</div>
<div class="row" *ngIf="allMatchUps && allMatchUps.length === 0">
    <div class="col-sm-6">
        <button class="btn btn-default" type="button" (click)="generateRoundOne()">Generate</button>
    </div>
</div>