<h1>Matchups</h1>
<div class="row" *ngIf="roundOneMatchUps && roundOneMatchUps.length > 0">
    <div class="col-sm-4" *ngFor="let matchUp of allMatchUps">
        <a (click)="pickWinner(matchUp, matchUp.Entry1)">{{getEntryData(matchUp.Entry1)}}</a>
        <a (click)="pickWinner(matchUp, matchUp.Entry2)">{{getEntryData(matchUp.Entry2)}}</a>
    </div>
</div>
<div class="row" *ngIf="roundOneMatchUps && roundOneMatchUps.length === 0">
    <div class="col-sm-6">
        <button class="btn btn-default" type="button" (click)="generateRoundOne()">Generate</button>
    </div>
</div>