<h1>Users</h1>
<form [formGroup]="userForm" (ngSubmit)="updateUser()">
    <table class="table table-hover">
        <tr>
            <th>No.</th>
            <th>Usename</th>
            <th>Email</th>
            <th>First</th>
            <th>Last</th>
            <th>Paid</th>
            <th>Role</th>
            <th></th>
            <th></th>
        </tr>
        <tr *ngFor="let user of users; let i = index">
            <td>{{i + 1}}</td>
            <td *ngIf="editUser.Id !== user.Id">{{user.Username}}</td>
            <td *ngIf="editUser.Id !== user.Id">{{user.Email}}</td>
            <td *ngIf="editUser.Id !== user.Id">{{user.FirstName}}</td>
            <td *ngIf="editUser.Id !== user.Id">{{user.LastName}}</td>
            <td *ngIf="editUser.Id !== user.Id">{{user.HasPaid ? "Y" : "N"}}</td>
            <td *ngIf="editUser.Id !== user.Id">{{user.Role}}</td>
            <td *ngIf="editUser.Id !== user.Id"><a style="cursor: pointer" (click)="selectUserEdit(user)">Edit</a></td>
            <td *ngIf="editUser.Id !== user.Id"><a routerLink="/admin/mimic/{{user.Id}}">Mimic</a></td>
            <td *ngIf="editUser.Id === user.Id">
                <input id="username" name="username" type="text" [formControl]="userForm.controls['username']"
                       class="form-control" [(ngModel)]="editUser.Username" />
            </td>
            <td *ngIf="editUser.Id === user.Id">
                <input id="email" name="email" type="text" [formControl]="userForm.controls['email']"
                       class="form-control" [(ngModel)]="editUser.Email" />
            </td>
            <td *ngIf="editUser.Id === user.Id">
                <input id="first-name" name="firstName" type="text" [formControl]="userForm.controls['firstName']"
                       class="form-control" [(ngModel)]="editUser.FirstName" />
            </td>
            <td *ngIf="editUser.Id === user.Id">
                <input id="last-name" name="lastName" type="text" [formControl]="userForm.controls['lastName']"
                       class="form-control" [(ngModel)]="editUser.LastName" />
            </td>
            <td *ngIf="editUser.Id === user.Id">
                <input id="has-paid" name="hasPaid" type="checkbox" [formControl]="userForm.controls['hasPaid']" class="form-control"
                       [(ngModel)]="editUser.HasPaid" />
            </td>
            <td *ngIf="editUser.Id === user.Id">
                <select id="role" name="role" [formControl]="userForm.controls['role']" class="form-control"
                        [(ngModel)]="editUser.Role">
                    <option [ngValue]="0">Basic</option>
                    <option [ngValue]="1">Bob</option>
                    <option [ngValue]="2">Admin</option>
                </select>
            </td>
            <td *ngIf="editUser.Id === user.Id">
                <input id="password" name="password" type="text" [formControl]="userForm.controls['password']"
                       class="form-control" placeholder="password" />
            </td>
            <td *ngIf="editUser.Id === user.Id">
                <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid || isLoading">Update</button>
            </td>
        </tr>
    </table>
</form>
