<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>Title</title>

    <script>document.write('<base href="' + document.location + '" />');</script>
    <link rel="stylesheet" href="lib/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="content/styles.css" />
    <script src="lib/shim.min.js"></script>
    <script src="lib/zone.js"></script>
    <script src="lib/Reflect.js"></script>
    <script src="lib/system.src.js"></script>
    <script src="lib/systemjs.config.js"></script>
    <script>
        System.import('app').catch(function(err){ console.error(err); });
    </script>
</head>
<body>
    <my-app>Loading...</my-app>
    <script src="lib/jquery.min.js"></script>
    <script src="lib/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        var testAudio = new Audio();
        testAudio.src = '/api/announcement';
        testAudio.type = 'audio/m4a';

        function test(){
            if(testAudio.paused) {
                testAudio.play();
            }
            else{
                testAudio.pause();
            }
        }
    </script>
</body>
</html>