<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h2>Login</h2>
    </div>
</div>
<form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="row form-group" [ngClass]="{'has-error':!loginForm.controls['username'].valid && loginForm.controls['username'].touched}">
        <div class="col-sm-6 col-sm-offset-3">
            <label for="username">Username</label>
            <input id="username" name="username" (focus)="resetIsInvalidUsernameOrPassword()" class="form-control" type="text" [formControl]="loginForm.controls['username']" />
            <div *ngIf="loginForm.controls['username'].hasError('required') && loginForm.controls['username'].touched" class="alert alert-danger">Required</div>
        </div>
    </div>
    <div class="row form-group" [ngClass]="{'has-error':!loginForm.controls['password'].valid && loginForm.controls['password'].touched}">
        <div class="col-sm-6 col-sm-offset-3">
            <label for="password">Password</label>
            <input id="password" name="password" (focus)="resetIsInvalidUsernameOrPassword()" [formControl]="loginForm.controls['password']" class="form-control" type="password" />
            <div *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched" class="alert alert-danger">Required</div>
            <div *ngIf="loginForm.controls['password'].hasError('invalid') && loginForm.controls['password'].touched" class="alert alert-danger">Invalid Username or Password</div>
        </div>
    </div>
    <div class="row form-group" style="margin-top: 30px">
        <div class="col-sm-6 col-sm-offset-3 text-right">
            <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid || isLoading">Login</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <ul class="list-unstyled">
                <li><a routerLink="/account/register">Register</a></li>
            </ul>
        </div>
    </div>
</form>