<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">IYFD 36</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a routerLink="/" routerLinkActive="active">Home</a></li>
                <li><a routerLink="/howto" routerLinkActive="active">How To</a></li>
                <li><a *ngIf="checkIsLoggin()" routerLink="/play" routerLinkActive="active">Play</a></li>
                <li><a routerLink="/scores" routerLinkActive="active">Score</a></li>
                <li><a *ngIf="verifyAdmin()" routerLink="/admin" routerLinkActive="active">Admin</a></li>
                <li>
                    <audio style="width: 75px;" src="/api/announcement" controls></audio>
                </li>
                <li><a href="/api/announcement?={{cacheBust.getTime()}}">Download Announcement</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="!checkIsLoggin()"><a routerLink="/account/login">Login</a></li>
                <li *ngIf="checkIsLoggin()"><a>Hey! {{getUsername()}}</a></li>
                <li *ngIf="checkIsLoggin()"><a style="cursor: pointer" (click)="signOut()">Sign Out</a></li>
            </ul>
        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
</nav><!-- /.navbar -->
<div class="container">
    <router-outlet></router-outlet>
</div>