<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">IYFD 38</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li (click)="removeIn()"><a routerLink="/" routerLinkActive="active">Home</a></li>
                <li (click)="removeIn()"><a routerLink="/halloffame" routerLinkActive="active">History</a></li>
                <li (click)="removeIn()"><a *ngIf="checkIsLoggin()" routerLink="/play" routerLinkActive="active">Pick</a></li>
                <li (click)="removeIn()"><a routerLink="/scores" routerLinkActive="active">Standings</a></li>
                <li (click)="removeIn()"><a *ngIf="verifyAdmin()" routerLink="/admin" routerLinkActive="active">Admin</a></li>
                <li>
                    <audio style="width: 200px;" src="/api/announcement?t={{cacheBust.getTime()}}" controls>
                        Not supported
                    </audio>
                </li>
                <li class="hidden-xs hidden-sm"><a href="/api/announcement?t={{cacheBust.getTime()}}">Sponsor's Announcement</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li (click)="removeIn()" *ngIf="!checkIsLoggin()"><a routerLink="/account/login">Login</a></li>
                <li (click)="removeIn()" *ngIf="checkIsLoggin()"><a>{{getUsername()}}</a></li>
                <li (click)="removeIn()" *ngIf="checkIsLoggin()"><a style="cursor: pointer" (click)="signOut()">Sign Out</a></li>
            </ul>
        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
</nav><!-- /.navbar -->
<div class="container">
    <router-outlet></router-outlet>
</div>