body {
  padding-top: 70px; }

#login .border {
  border: solid 1px #000; }


.odd{
  background-color: #eee;
}

.underline{
  text-decoration: underline;
}

h4{
  font-weight: bold;
  text-decoration: underline;
}

h1{
  font-style: italic;
}

h2{
  font-family: "Bradley Hand";
}

.get-started-btn{
  margin: 50px 0;
}

.sponsor-img {
  float: left;
}